@inherits DisplayRecipeBase

@foreach (var item in Recipes)
{
    <div class="col-md-3 mb-2">
        <a href="/RecipeDetails/@item.Id">
            <div class="card">
                <img class="img-thumbnail" src="@item.ImageUrl" />
                <div class="card-body">
                    <h5 class="card-title">
                        @item.Title
                    </h5>
                </div>
            </div>
        </a>

    </div>
}