@page "/RecipeBook"
@inherits RecipeBookBase

@if(items == null && ErrorMessage == null){
    <DisplaySpinner></DisplaySpinner>
}
else if(ErrorMessage != null){
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">Recipe Book</h3>
    <div class="row mb-5">
        <div class="col-md-9">
            @foreach(var item in items)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@item.RecipeImageUrl" width="300" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <h5>@item.RecipeTitle</h5>
                        <div class="mb-4">@item.RecipeDescription</div>

                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <h5></h5>
        </div>
    </div>
}